<div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
        <svg class="me-1"
             xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             fill="currentColor"
             viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
        </svg>
        <h2 class="fs-6 my-0">Notification Settings</h2>
    </div>
    <div>
        <svg class="ms-1"
             xmlns="http://www.w3.org/2000/svg"
             data-bs-toggle="tooltip"
             data-bs-placement="bottom"
             data-bs-title="Not working? Check your browser's notification settings"
             width="16"
             height="16"
             fill="currentColor"
             viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </svg>
    </div>
</div>
<div class="card-body w-100 w-sm-90 w-md-75 w-lg-50 mx-auto"
     id="notifToggleContainer">
    <button class="btn btn-primary w-100" id="notifToggleBtn" type="button">Toggle Notifications</button>
    <div class="mt-3 text-center w-100">
        <span id="notifStatus">Notification preference not set</span>
    </div>
</div>
